[paths]

game_files="gamefiles"
support_files="support_files"

android_package_code="./"
android_external_files="../conf/"
android_files="../conf/"
android_obb_dirs=["./"]
android_source_dirs=["./"]
android_cache="../cache/"

[package]

packageName="com.DefaultCompany.buildableproject"
versionName="1.0"
mainIntentBundle={}

[device]

displayWidth=1280
displayHeight=720
displayRotation=0
displayRefreshRate=60

[input]

controller=true
dpad_synthesize_hat=false

[unity]

block_analytics=true
swappy_invalid_interval_fallback=true
